.cards{
    max-width: 1300px;
    margin: 0 auto;
}

.card{
    float: left;
    width: 25%;
    padding: 0 10px;
    margin: 10px;
    white-space: pre-wrap;
}

.url{
    text-decoration: none;
    color: white;
    background-color: #0d6efd;
    padding: 10px;
}

.url:hover{
    color: #0d6efd;
    background-color: white;
    border: 1px solid #0d6efd;
}

.spinner-border {
    font-size: 30px;
    margin: auto;
    text-align: center;
}

@media (max-width: 600px) {
    .card{
        width: 100%;
    }
  }