.cards{
    /* max-width: 1300px;
    margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card{
    padding: 0 10px;
    border: 1px solid #0d6efd;
}

.url{
    text-decoration: none;
    color: white;
    background-color: #0d6efd;
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
}

.url:hover{
    color: #0d6efd;
    background-color: white;
    border: 1px solid #0d6efd;
}

.spinner-border {
    font-size: 30px;
    margin: auto;
    text-align: center;
}


  @media (max-width: 1000px) {
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .title{
        font-size: 16px;
        padding: 5px;
    }
    .url{
        font-size: 16px;
    }
}